:root {
  /* Tailwindcss Color Palette: Slate*/
  --slate-50: #f8fafc;
  --slate-100: #f1f5f9;
  --slate-200: #e2e8f0;
  --slate-300: #cbd5e1;
  --slate-400: #94a3b8;
  --slate-500: #64748b;
  --slate-600: #475569;
  --slate-700: #334155;
  --slate-800: #1e293b;
  --slate-900: #0f172a;
  --content-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  --font-type: Arial, Helvetica, sans-serif;
  --lh: 1.5;
  --fw-r: 400;
  --fw-bold: 700;
}

/* CSS Reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: var(--lh);
  font-family: var(--font-type);
}

.drop-btn {
  background: var(--slate-900);
  color: var(--slate-50);
  padding: 0.5em;
  font-size: 1rem;
  border: none;
  text-align: center;
  font-weight: var(--fw-bold);
}

.dropdown {
  display: grid;
  grid-template-rows: 3em fit-content(6em);
  grid-template-columns: 6em;
}

.dropdown-content {
  display: none;
  background: var(--slate-100);
  box-shadow: var(--content-shadow);
  z-index: 1;
  padding: 0.5em;
}

.dropdown-content .dropdown-items {
  color: var(--slate-900);
  padding: 0.5em;
  text-decoration: none;
}

.dropdown-content .dropdown-items:hover {
  background: var(--slate-200);
}

.dropdown-items:active {
  color: var(--slate-500);
}

.dropdown:hover .drop-btn {
  background: var(--slate-800);
}
